*.iml
*.ipr
*.iws
*.ids
*.log
/target/
.idea/
classes/
cobertura/
.DS_Store
.idea/*
.gradle/
build/
out/
bin/
release/build/*
release/cache
*/**/tabbar.tmpl.js
.classpath
.project
node_modules/
bower_components/
*/**/.tmp
.settings/
.sass-cache/
.tmp/
**/*.log
**/*.log.*

